/.idea/comp0066.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_08_11_2022,_20_38_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_08_11_2022,_20_38_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_08_11_2022__20_38__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_08_11_2022,_20_38_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_08_11_2022,_20_38_[Changes]/shelved.patch
